/* font-family: 'Roboto', sans-serif;
font-family: 'Oswald', sans-serif; */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

body {
    background-color: white;
}

/* NAV */
nav {
    max-width: 1920px;
    background-color: #93b1c6;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 80px;
    z-index: 2;
}

nav ul {
    /* position: relative; */
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: space-between;
}

nav ul li {
    position: relative;
    flex-basis: 16%;
    text-align: center;
    cursor: pointer;
    line-height: 80px;
    font-size: 25px;
}

nav ul li:nth-child(3) {
    cursor: default;
}

nav ul li:nth-child(3)::before {
    display: none;
}

nav ul li::before {
    content: '';
    display: block;
    height: 6px;
    background-color: #fc4a1a;
    position: absolute;
    top: 54px;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transition: transform ease-in-out .3s;
}

nav ul li:hover::before {
    transform: scale(1, 1);
}

nav ul li a {
    display: block;
    color: black !important;
    text-decoration: none !important;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
    letter-spacing: 5px;
    font-weight: bold;
    transition: .2s linear;
}

nav ul li img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-45%, -50%);
    width: 80px;
    height: 80px;
    transition: .2s linear;
}

/*Article*/
body {
    background-color: #eaeff1;
}

section.article {
    text-align: center;
    max-width: 1920px;
    margin: 0 auto;
    margin-top: 140px;
    /* padding-top: 100px; */
    background-color: #eaeff1;
}

h2 {
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
    color: #fc4a1a;
}

.article p {
    text-align: justify;
    margin: 40px 110px;
    font-size: 25px;
    font-family: 'Roboto', sans-serif
}

/* FOOTER */
footer {
    max-width: 1920px;
    margin: 0 auto;
    position: relative;
    height: 8vh;
    background-color: #93b1c6;
    text-align: center;
}

footer p {
    font-size: 15px;
    font-family: arial;
    color: black;
    line-height: 8vh;
}

/* Footer fb */
footer a:nth-of-type(1) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 210px;
    border-radius: 50%;

}

footer a:nth-of-type(1) i {
    font-size: 25px;
    width: 45px;
    height: 45px;
    background-color: #4267B2;
    color: white;
    line-height: 45px;
    border-radius: 50%;
    transition: .2s;
}

footer a:nth-of-type(1):hover i {
    background-color: white;
    color: #4267B2;
    font-size: 30px;
}

/* Footer instagram */
footer a:nth-of-type(2) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 140px;
    border-radius: 50%;
}

footer a:nth-of-type(2) i {
    font-size: 25px;
    width: 45px;
    height: 45px;
    background-image: linear-gradient(45deg, yellow, red, blue);
    color: white;
    line-height: 45px;
    border-radius: 50%;
    transition: .2s;
}

footer a:nth-of-type(2):hover i {
    background-image: linear-gradient(45deg, blue, red, yellow);
    font-size: 30px;
}

/* Footer twitter */
footer a:nth-of-type(3) {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 70px;
    border-radius: 50%;
}

footer a:nth-of-type(3) i {
    font-size: 25px;
    width: 45px;
    height: 45px;
    background-color: #28AAE1;
    color: white;
    line-height: 45px;
    border-radius: 50%;
    transition: .2s;
}

footer a:nth-of-type(3):hover i {
    background-color: white;
    color: #28AAE1;
    font-size: 30px;
}